@use 'core' as *;

.c-scherm-a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  &__top {
    height: 70%;
    width: 100%;
    background-image: url(../img/scherm_a_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    //  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/scherm_a_background.png);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      //   background: linear-gradient(0deg, #1e1f21 0.36%, rgba(0, 0, 0, 0) 132.41%);
      background: linear-gradient(0deg, $color-dark 0.36%, rgba(0, 0, 0, 0) 132.41%);
      pointer-events: none;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 30%;
    align-items: center;
    background-color: $color-dark;
    color: $color-light;
    padding: 1.5rem 3rem;
    padding-bottom: 2rem;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    pointer-events: auto;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &__balls {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__ball {
    width: 4px;
    height: 4px;
    border-radius: 9px;
    background-color: $color-accent--light;
    display: block;
    &--active {
      background-color: $color-accent;
      width: 9px;
      height: 4px;
      border-radius: 9px;
    }
  }

  &__btn {
    text-decoration: none;
    color: $color-dark;
    font-weight: $fw-bold;
    font-size: 0.875rem;
    padding: 4px 12px;
    background-color: $color-accent;
    border-radius: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &--small {
      padding: 2px 8px;
      width: 32px;
      height: 32px;
      font-size: 0.875rem;
    }
  }
  &__text {
    font-size: 1rem;
    font-weight: $fw-medium;
    margin-bottom: 1rem;
  }
  &__title {
    position: relative;
    text-align: center;
    color: $color-light;
    margin-top: 2rem;
    z-index: 4;
    text-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    font-size: 28px;
  }

  &__back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: $color-dark;
    text-decoration: none;
    font-size: 0.875rem;
    background-color: $color-accent;
    border-radius: 36px;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $fw-bold;
    z-index: 5;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }
  &--b {
    & .c-scherm-a__top {
      background-image: url(../img/track.png);
    }
  }
  &--c {
    & .c-scherm-a__top {
      background-image: url(../img/share.png);
      background-position: center -3rem;
      @media (width < 576px) {
        background-position: center -3rem;
      }
    }
  }
  &--d {
    & .c-scherm-a__top {
      background-image: url(../img/badge.png);
    }
  }
  &--e {
    & .c-scherm-a__top {
      background-image: url(../img/scribble.jpg);
      background-position: center;
    }
    & .c-scherm-a__title {
      display: none;
    }
  }
}
